body{
display:flex;
flex-direction:column;
align-item:center;
color:#0042a9;
padding:10px;
font-family:'Playfair Display', serif;:
}

.titulo{
display:flex;
flex-direction:column;
align-items:center;
border:solid;
border-color:#012f7b;
background-color:floralwhite;
align-items:center;
}

.contenido1{
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}

.contenido2{
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
.contenido3{
display:flex;
flex-direction:column;
align-items:right;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
.contenido4{
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
.demostracion{
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
.contenido6{
 display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b; 
}
.contenido7{ 
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
.contenido8{
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;  
}
.contenido9{
 display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
.contenido10{
 display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
.contenido11{
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;.contenido11
}

.sobremi{
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
img{
max-height:50%;
max-width:60%;
background-color:floralwhite;
}

.división{
background-color:floralwhite;
border:solid;
border-color:#012f7b;
font-family:'Libre Bodoni', serif;
}

.división a{
text-align:center;
float:left;
color:#012f7b;
padding: 10px 10px;
font-size:15;
text-decoration:none;
}

.división a:active{
color:#012f7b;
background-color:#d6d6d6;
}
p{
font-size:20px;
}
ul{
font-size:20px;
}
.fundaciones{
display:flex;
flex-direction:column;
align-items:center;
background-color:floralwhite;
border:solid;
border-color:#012f7b;
}
a{
color:blue;
}
.AZCARM{
height:300px;
width:300px;
}
.UICN{
height:300px;
width: 300px;
}
.WAZA{
height:300px;
width:600px;
}
.abeja{
 height:300px;
width: 300px; 
}
.murcielago{
height:300px;
width: 300px; 
}
.plancton{
height:300px;
width: 300px;  
}
.tortuga marina{
height:100px;
width:100px;  
}
.dodo{
height:300px;
width:300px;
}
.vaca{
height:200px;
width:300px;
}
.Quagga{
height:200px;
width:300px;
}
.delfin{
height:200px;
width:300px;
}
